env
ideas.txt
system_monitor.db
junk
*.csv
*.log
packaging
assistant/__pycache__
.*
bugs.txt
main_window_2backup.py
backup_main_window.py
executor_backup.py
__pycache__/
*.py[cod]
tests
pytest.ini
requirements-test.txt