#!/usr/bin/env xdg-open
[Desktop Entry]
Name = AutoGuard
Comment = Monitor system health and performance
Exec = ./env/bin/activate.fish ./run.py
Icon = ./app/icons/icon.jpeg
Terminal = false
Type = Application
Categories = System;Monitor;